<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>购物车页面</title>

		<link href="{% static 'AmazeUI-2.4.2/assets/css/amazeui.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'basic/css/demo.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/cartstyle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/optstyle.css' %}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

	</head>

	<body>

		<div class="hmtop">
		<!--顶部导航条 -->
		<div class="am-container header">
			{% if user.is_authenticated %}
			<div class="hmtop">
				<div class="am-container header">
					<ul class="message-l">
						<div class="topMessage">
							<div class="menu-hd">
								<a target="_top" class="h">{{ user.username }}</a>
								<a href="{% url 'logoout' %}" target="_top">注销</a>
							</div>

						</div>
					</ul>

			{% else %}
			<ul class="message-l">
				<div class="topMessage">
					<div class="menu-hd">
						<a href="{% url 'sign_in'%}" target="_top" class="h">亲，请登录</a>
						<a href="{% url 'sign_up'%}" target="_top">免费注册</a>
					</div>
				</div>
			</ul>
					{% endif %}
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a href="{% url 'show_cart' %}" target="_top" class="h">商城首页</a></div>
				</div>
				<div class="topMessage my-shangcheng">
					<div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
				</div>
				<div class="topMessage mini-cart">
					<div class="menu-hd"><a id="mc-menu-hd" href="{% url 'show_cart' %}" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">{{ con }}</strong></a></div>
				</div>
				<div class="topMessage favorite">
					<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
			</ul>
			</div>

			<!--悬浮搜索框-->

			<div class="nav white">
				<div class="logo"><img src="{% static 'images/logo.png' %}" /></div>
				<div class="logoBig">
					<li><img src="{% static 'images/logobig.png' %}" /></li>
				</div>

				<div class="search-bar pr">
					<a name="index_none_header_sysc" href="{%  url 'search' %}"></a>
					<form>
						<input id="searchInput" name="keywodrs" type="text" placeholder="搜索" autocomplete="off">
						<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
					</form>
				</div>
			</div>

			<div class="clear"></div>


			<!--购物车 -->
   <!--购物车 -->
    <div class="concent">
        <div id="cartTable">
            <div class="cart-table-th">
                <div class="wp">
                    <div class="th th-chk">
                        <div id="J_SelectAll1" class="select-all J_SelectAll"></div>
                    </div>
                    <div class="th th-item">
                        <div class="td-inner">商品信息</div>
                    </div>
                    <div class="th th-price">
                        <div class="td-inner">单价</div>
                    </div>
                    <div class="th th-amount">
                        <div class="td-inner">数量</div>
                    </div>
                    <div class="th th-sum">
                        <div class="td-inner">金额</div>
                    </div>
                    <div class="th th-op">
                        <div class="td-inner">操作</div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <tr class="item-list">
                <div class="bundle  bundle-last ">
                    <div class="clear"></div>
                    <div class="bundle-main">
                        {% for car in cart %}
                        <ul class="item-content clearfix">
                            <li class="td td-chk">
                                <div class="cart-checkbox ">
                                    <input class="check" type="checkbox" name="checkData">
                                    <label for="J_CheckBox_170037950254"></label>
                                </div>
                            </li>
                            <li class="td td-item">
                                <div class="item-pic">
                                    <a href="#" target="_blank" data-title="{{ car.product.title }}"
                                       class="J_MakePoint" data-point="tbcart.8.12">
                                        <img style="width: 100%; height: 100%;" src="{{ MEDIA_URL }}{{ car.product.picture }}" class="itempic J_ItemImg"></a>
                                </div>
                                <div class="item-info">
                                    <div class="item-basic-info">
                                        <a href="#" target="_blank" title="{{ car.product.title }}"
                                           class="item-title J_MakePoint" data-point="tbcart.8.11">{{ car.product.title }}</a>
                                    </div>
                                </div>
                            </li>


                            <li class="td td-price">
                                <div class="item-price price-promo-promo">
                                    <div class="price-content">
                                        <div class="price-line">
                                            <em class="price-original">{{ car.product.market_price }}</em>
                                        </div>
                                        <div class="price-line">
                                            <em class="J_Price price-now" tabindex="0">{{ car.product.sell_price }}</em>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-amount">
                                <div class="amount-wrapper ">
                                    <div class="item-amount ">
                                        <div class="sl">
                                            <input class="min am-btn" name="" type="button" value="-"/>
                                            <input class="text_box mycount" data-goodsid="{{ car.product.id }}" name="" type="text" value="{{ car.number }}" style="width:30px;" readonly/>
{#											<div class="text_box mycount" data-goodsid="{{ car.product.id }}" style="width:30px;">{{ car.number }}</div>#}
                                            <input class="add am-btn" name="" type="button" value="+"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="td td-sum">
                                <div class="td-inner">
                                <em tabindex="0" class="J_ItemSum number">{% widthratio car.product.sell_price 1 car.number %}</em>
                                </div>
                            </li>
                            <li class="td td-op">
                                <div class="td-inner">
                                    <a title="移入收藏夹" class="btn-fav" href="#">移入收藏夹</a>
                                    <a href="{% url 'deleo' %}?cid={{car.id}}" data-point-url="#" class="delete">删除</a>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </tr>


            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="float-bar-wrapper">
            <div id="J_SelectAll2" class="select-all J_SelectAll">
                <div class="cart-checkbox">
                    <input class="check-all" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
                    <label for="J_SelectAllCbx2"></label>
                </div>
                <span>全选</span>
            </div>
            <div class="operations">
                <a href="#" hidefocus="true" class="deleteAll">删除</a>
                <a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
            </div>
            <div class="float-bar-right">
                <div class="amount-sum">
                    <span class="txt">已选商品</span>
                    <em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
                    <div class="arrow-box">
                        <span class="selected-items-arrow"></span>
                        <span class="arrow"></span>
                    </div>
                </div>
                <div class="price-sum">
                    <span class="txt">合计:</span>
                    <strong class="price">¥<em id="J_Total">0.00</em></strong>
                    <script>
                        {#$('.check').click(function () {#}
                        {#    var total = 0#}
                        {#    var n = 0#}
                        {#    $('.check').each(function (i, el) {#}
                        {#        if (el.checked) {#}
                        {#            n++#}
                        {#            total += parseFloat($(el).parents('ul').find('.J_ItemSum').text())#}
                        {#        }#}
                        {#    })#}
                        {#    $('#J_Total').text(total)#}
                        {#    $('#J_SelectedItemsCount').text(n)#}
                        {#})#}
                        {#  $('.check-all').click(function () {#}
                        {#                $('.check').click()#}
                        {#  })#}

						$("#J_SelectedItemsCount").text(0);
						$("#J_Total").text(0);
						var sport = $(".check"); //sport换成allCheckData
						count = 0;
						total = 0;
                        $(".check").click(function() {
						    var count = $("#J_SelectedItemsCount").text();
							var total = $("#J_Total").text();
							var checkall = $("#J_SelectAllCbx2");

							if ($('#J_SelectAllCbx2').is(":checked")) {
								//获取checkbox选中的个数
								var selLength = $("input[name='checkData']:checked").length;
								//获取checkbox选中的值
								var selVal = $("input[name='checkData']:checked").parents('ul').find('.J_ItemSum').text();
								$("#J_SelectedItemsCount").text(parseInt(selLength));
								$("#J_Total").text(Number(selVal));
							} else {
								if ($(this).is(":checked")) {
									count++;
									total = parseInt(total) + parseInt($(this).parents('ul').find('.J_ItemSum').text());
									$("#J_SelectedItemsCount").text(count);
									$("#J_Total").text(total);
								}
							}
                        });

						//全选操作
						$('#J_SelectAllCbx2').click(function() {
						    var count = 0; //选中的几件
							var total = 0; //总共是多少钱
							if ($(this).is(":checked")) {
								$("input[name='checkData']").prop("checked", true);
								for (var i=0; i<sport.length;i++) {
									if ($(sport[i]).is(":checked")) {
										count++;
										total += parseFloat($(sport[i]).parents('ul').find('.J_ItemSum').text());
									}
								}
								$("#J_SelectedItemsCount").text(count);
								$("#J_Total").text(total);
							} else {
								$("input[name='checkData']").prop("checked", false);
								count = 0;
								total= 0;
								$("#J_SelectedItemsCount").text(0);
								$("#J_Total").text(0);
							}
						});


                    </script>
                </div>
                <div class="btn-area">
                    <a href="" id="J_Go" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算">
                        <span>结&nbsp;算</span></a>
                </div>
            </div>
        </div>

				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有</em>
						</p>
					</div>
				</div>

			</div>

			<!--操作页面-->

			<div class="theme-popover-mask"></div>

			<div class="theme-popover">
				<div class="theme-span"></div>
				<div class="theme-poptit h-title">
					<a href="javascript:;" title="关闭" class="close">×</a>
				</div>
				<div class="theme-popbod dform">
					<form class="theme-signin" name="loginform" action="" method="post">

						<div class="theme-signin-left">

							<li class="theme-options">
								<div class="cart-title">颜色：</div>
								<ul>
									<li class="sku-line selected">12#川南玛瑙<i></i></li>
									<li class="sku-line">10#蜜橘色+17#樱花粉<i></i></li>
								</ul>
							</li>
							<li class="theme-options">
								<div class="cart-title">包装：</div>
								<ul>
									<li class="sku-line selected">包装：裸装<i></i></li>
									<li class="sku-line">两支手袋装（送彩带）<i></i></li>
								</ul>
							</li>
							<div class="theme-options">
								<div class="cart-title number">数量</div>
								<dd>
									<input class="min am-btn am-btn-default" name="" type="button" value="-" />
									<input class="text_box" name="" type="text" value="1" style="width:30px;" />
									<input class="add am-btn am-btn-default" name="" type="button" value="+" />
									<span  class="tb-hidden">库存<span class="stock">1000</span>件</span>
								</dd>

							</div>
							<div class="clear"></div>
							<div class="btn-op">
								<div class="btn am-btn am-btn-warning">确认</div>
								<div class="btn close am-btn am-btn-warning">取消</div>
							</div>

						</div>
						<div class="theme-signin-right">
							<div class="img-info">
								<img src="../images/kouhong.jpg_80x80.jpg" />
							</div>
							<div class="text-info">
								<span class="J_Price price-now">¥39.00</span>
								<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
							</div>
						</div>

					</form>
				</div>
			</div>
		<!--引导 -->
		<div class="navCir">
			<li><a href="{% url 'index' %}"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li class="active"><a href="{% url 'show_cart'  %}"><i class="am-icon-shopping-basket"></i>购物车</a></li>
			<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>
		</div>
	</body>

<script>

    $('#J_Go').click(function () {
        var total = $('#J_Total').text()
        var arr=[]
        $('.bundle-main input:checked').each(function (index,dom) {
            var input = $(this).parents('ul').find('.mycount')
            var count1 = input.val()
            var id1=input.attr('data-goodsid')
            arr[index]={'id':id1, 'count':count1}
        })

        {#var arr=[{'id':1,'count':1},{'id':2,'count':1}]#}
        var  goodses_list = JSON.stringify(arr)
        setUrl(total,goodses_list)
    });

    function setUrl(total,sid,) {
        var url = "{% url 'pay' %}?total="+total+"&sid="+sid;
        $('#J_Go').attr('href',url);
    }
</script>
</html>